/* BARRE DE NAVIGATION */

.flag {
    height : 1.4em;
    width : auto;
}

/* CORPS DE PAGE */

.article-img-overlay{
    position: relative;
}

.article-img-overlay:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(245,222,179,0.5); /* WHEAT */
    border-radius: 0.25em;
}

.overlay-text {
    opacity: 1;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* ABOUT */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about-crew-member {
    padding: 0 16px;
}

.about-crew-member:after, row:after {
    content: "";
    clear: both;
    display: table;
}

.about-title {
    color: grey;
}

.about-descitpion {
    font-size: 3vmin;
}

.about-mail {
    font-size: 5vmin;
}

/* BODY MIN-HEIGHT */

body {
    min-height: 100%;
}

/* CAROUSSEL */

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

/* FOOTER */

footer {
    height: 3em;
    background-color: rgb(34,34,34);
}