/* BARRE DE NAVIGATION */

nav {
    height: 6em;
    background-color: greenyellow;
    margin: 0.5em;
}

.nav {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

.button_nav {
    height: auto;
    background-color: ghostwhite;
    border: 2px solid forestgreen;
    border-radius: 12px;
    color: black;
    margin-right: 1em;
}

.nav_col_1 .button_nav:first-child {
    margin-left: 3em;
}

.nav_col_2 .button_nav {
    margin-right: 2.5em;
}

.button_nav:hover {
    background-color: forestgreen;
    color: white;
}

.nav_col_1 {
    text-align: start;
}

.nav_col_2 {
    text-align: end;
}

/* CORPS DE PAGE */

.section {
    padding: 2em 5em 2em 5em;
}

article {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article:first-child {
    border-top: solid 0.1em lightgreen;
    border-left: solid 0.1em lightgreen;
}

article:last-child {
    border-bottom: solid 0.1em lightgreen;
    border-right: solid 0.1em lightgreen;
}

.article-img-overlay{
    position: relative;
}

.article-img-overlay:hover .overlay {
    opacity: 0.5;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: wheat;
    border-radius: 0.25em;
}

.text {
    opacity: 1;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

}